a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-link {
    color: grey;
    --bs-nav-link-hover-color: grey;
}

.navbar-brand {
    color: grey;
    --bs-navbar-brand-hover-color:grey;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-color: black;
}
